* {
  margin: 0;
}
body {
  background-color: #181621;
}
.home {
  margin: 30px 15px;
  display: flex;
  justify-content: space-evenly;
}
.app__header > h1 {
  font-size: 2rem;
  color: #fff;
}
.app__header {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.right__nav {
  display: flex;
  align-items: center;
}
.user-link {
  text-decoration: none;
  color: #fff;
  font-size: large;
  margin-right: 25px;
  border: 1px solid #333042;
  border-radius: 10px;
  background-color: #333042;
  padding: 16px 25px;
}
.app__dropdown .MuiSelect-outlined {
  background-color: #333042;
  border-radius: 10px;
  color: #fff !important;
}

.MuiMenuItem-root {
  margin-top: 0;
  color: #fff !important;
  border-bottom: 1px solid rgb(94, 94, 94) !important;
}
.MuiList-root,
.MuiPaper-root {
  background-color: #333042 !important;
}
.app__left {
  flex: 0.8; /* this is going to take up 90% of the screen */
}
.MuiCardContent-root {
  background-color: #333042;
}
.app__graph {
  height: 200px;
  margin: 0;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}
.app__rightTableTitle {
  text-transform: capitalize;
  color: #dadada;
}
.app__rightGraphTitle {
  text-transform: capitalize;
  color: #dadada;
  margin: 20px 0;
}
.leaflet-popup-content-wrapper {
  background-color: #333042 !important;
}
.info-name {
  color: #dadada !important;
}
.info-container {
  color: #dadada !important;
  width: 220px !important;
}

@media (max-width: 900px) {
  .home {
    flex-direction: column;
  }

  .table__left {
    margin: auto 5%;
  }
  .table__right {
    margin: 2% 5%;
  }

  .app__left {
    margin: 0 5% 2% 5%;
    order: -1;
  }
}
