.side-bar {
  background-color: #333042 !important;
  border-radius: 10px !important;
  color: #fff !important;
  text-decoration: none !important;
  font-size: large !important;
  text-transform: capitalize !important;
  margin-right: 25px !important;
  padding: 13px 25px !important;
}

.list {
  margin: 20px !important;
  height: 420px !important;
}

@media (max-width: 1500px) {
  .side-bar {
    margin-right: 10px !important;
  }
}

@media (max-width: 1375px) {
  .side-bar {
    padding: 10px 20px !important;
  }
}

@media (max-width: 845px) {
  .list {
    width: 350px !important;
  }
}

@media (max-width: 675px) {
  .one {
    margin-right: 20px !important;
  }
}
