.side-bar {
    background-color: #333042 !important;
    border-radius: 10px !important;
    color: #fff !important;
    text-decoration: none !important;
    font-size: large !important;
    margin-right: 25px !important;
    border: 1px solid #333042 !important;
    padding: 16px 25px !important;
}