.user {
  margin: 30px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.user__nave > h1 {
  font-size: 2rem;
}

.user__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.form {
  margin: 20px auto;
  background-color: #333042;
  padding: 50px !important;
  border-radius: 10px;
  width: 40vw;
}
.form input {
  outline: none;
  width: 80%;
  background-color: #181621;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: #fff;
}
.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input input {
  margin: 5px auto;
}
.btn {
  display: flex;
  margin: 10px auto 0 auto;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #333042;
  padding: 16px 25px;
  background-color: #181621;
  color: #fff;
  font-size: 1rem;
}

.btn:hover {
  background-color: rgb(0, 255, 0);
  color: #181621;
}

.blog-post__display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333042;
  margin: 2% 5%;
  border-radius: 4px;
  padding: 20px 100px;
}

.name > h3,
p {
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .form {
    margin: 2%;
    width: 75%;
  }

  h1 {
    font-size: 1.5rem;
  }

  .blog-post__display {
    margin: 2%;
  }
}
